/* [Font] Inter (100~900)  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* [Font] Roboto Condensed (700)  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root {
    font-size: 62.5%; /* 1rem = 10px */

    /* Colors */
    --bg: #F3F5F6;
    --TADS: #383982;
        /* DIATINF pallete */
        --Cobre: #CE701B;
        --Brasa: #F1881D;
        --Solar: #FDC616;
        --Marfim: #F9EBC2;
        --Nevoa: #A4BCCC;
        --Abismo: #0C3453;

    /* Fonts */
    --Inter: "Inter", sans-serif;
    --Roboto-Condensed: "Roboto Condensed", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 6.4rem 4.8rem;
    background-color: var(--bg);
    font-family: var(--Inter);
    font-size: 1.6rem;
    color: var(--Abismo);
}

.main-container {
    width: 118rem;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
}

/* ===== HEADER =============== */
header.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
}

header.header .brands {
    display: flex;
    gap: 3.2rem;
}

header.header h1 {
    color: var(--TADS);
    font-family: var(--Roboto-Condensed);
    font-size: 4.8rem;
    line-height: 5.76rem;
    text-transform: uppercase;
}

/* ===== MAIN =============== */
main.main {
    width: 100%;
    display: flex;
    gap: 4.8rem;
}

.illustration {
    width: 567px;
    height: 567px;
}

main.main .topics {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
}

main.main h2.title {
    padding-bottom: 4rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.84rem;
}

main.main .accordion {
    width: 100%;
}

main.main div.question {
    border-bottom: .3rem solid white;
}

main.main button.question {
    width: 100%;
    padding: 2.4rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.16rem;
    text-align: left;
    background-color: transparent;
}

main.main .answer {
    padding-bottom: 2.4rem;
}

main.main .answer p {
    line-height: 2.24rem;
    color: var(--Nevoa);
}

/* States */
p strong {
    font-weight: 700;
}

.hidden {
    display: none;
}

/* main.main button.question:hover {
    background-color: white;
} */